<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>sh.chronos.whisper</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/whisper-server</string>
    <string>-m</string>
    <string>__HOME__/.cache/whisper/__WHISPER_MODEL__</string>
    <string>--host</string>
    <string>127.0.0.1</string>
    <string>--port</string>
    <string>7778</string>
    <string>--convert</string>
    <string>-nt</string>
    <string>-l</string>
    <string>auto</string>
    <string>-t</string>
    <string>8</string>
    <string>-bs</string>
    <string>5</string>
    <string>--tmp-dir</string>
    <string>/tmp</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__LOG_DIR__/whisper.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/whisper.err.log</string>
</dict>
</plist>
